{% extends "base.html.twig" %}
{% block body %}
<div id="header">
<form method="post">
    <center><h1 class="h3 mb-3 font-weight-normal">Please sign in</h1></center>
</div>
<div id = "transparent">
</div>
<div id="opaque">
    </br><center><label for="inputUsername" class="sr-only">Username</label></center>
    </br><center><input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus></center>
    </br></br><center><label for="inputPassword" class="sr-only">Password</label></center>
    </br><center><input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required></center>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    </br><center><button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button></center>
    {% if error %}
        </br><center><font color="red"><div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div></font></center>
    {% endif %}
</form>
</div>
{% endblock %} 
