<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome {% endblock %} </title>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-vml.min.js"></script>
        <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" />
        <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart.min.css"/>
        <link rel="stylesheet" href="/css/style.css" />
        <style>
html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(255,204,153);
    margin: 0px;
    padding: 0px;
    float: left;
}
#header {
    width: 100%;
    height: 10%;
    position: absolute;
    background-color: lightcoral;
}
#container {
    width: 92%;
    height: 82%;
    background-color: rgba(255,255,255,1);
    margin: 2px;
    padding: 2px;
    float: left;
}
#opaque {
    width: 338px;
    height: 280px;
    background-color: rgba(255,255,255,1);
    margin: 20px;
    margin-top: 100px;
    padding: 25px;
    float: left;
}
#opaque_2 {
    width: 766px;
    height: 280px;
    background-color: rgba(255,255,255,1);
    margin: 20px;
    margin-top: 100px;
    padding: 25px;
    float: left;
}
#opaque_nonFixed {
    width: 29%;
    height: 55%;
    background-color: rgba(255,255,255,1);
    margin: 1%;
    margin-top: 15%;
    padding: 1%;
    float: left;
}
#transparent {
    width: 338px;
    height: 280px;
    background-color: rgba(255,255,255,0);
    margin: 20px;
    margin-top: 100px;
    padding: 25px;
    float: left;
}
#transparent_nonFixed {
    width: 29%;
    height: 55%;
    background-color: rgba(255,255,255,0);
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
    float: left;
}
#foot {
    width: 100%;
    height: 5%;
    background-color: rgba(255,255,255,0);
    float: left;
}
#flash{
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,0);
}
.blockButton {
    width: 95%;
}
.greenButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.greenButtonWithShadow {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.hoverButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.hoverButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.hoverButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.hoverButton:hover span {
    padding-right: 25px;
}

.hoverButton:hover span:after {
    opacity: 1;
    right: 0;
}
        </style>
        {% block header %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    {% block js %}
    {% endblock %}
</html>
