<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
        <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" />
        <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" />
        <style>
html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(255,204,153);
    margin: 0px;
    padding: 0px;
}
        </style>
        <style>
#header {
    width: 100%;
    height: 10%;
    background-color: lightcoral;
}
    <style>
#container {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
}
    </style>
    <style>
#first,#second {
    width: 50%;
    height: 80%;
    background-color: rgba(255,255,255,0);
    float: left;
}
    </style>
    </head>
    <body>
        <div id="header">
            <center> <h2> HEADER </h2> </center>
        </div>
        <div id="first"></div>
        <div id="second"></div>
        <script>
            anychart.onDocumentReady(function() {
                // create column chart
                var chart = anychart.column();

                // turn on chart animation
                chart.animation(true);

                // set chart title text settings
                chart.title("{{ chartTitle }} ");

                // create area series with passed data
                var series = chart.column('{{chartData}}', {ignoreFirstRow:true});
                // set scale minimum
                chart.yScale().minimum(0);
                series.labels(true);
                //	chart.xAxis().labels().format(function() {
                //		return this.value;
                //	});
                var labels = chart.xAxis().labels();
                labels.fontFamily("Courier");
                // tooltips position and interactivity settings
                chart.tooltip().positionMode('point');
                chart.interactivity().hoverMode('by-x');
                chart.background().fill("rgb(240,248,255)");
                // axes titles
                chart.xAxis().title("names");
                chart.yAxis().title("values");
                var credits = chart.credits();
                credits.logoSrc("http://static.anychart.com/images/github.png");
                // set container id for the chart
                chart.container("first");

                // initiate chart drawing
                chart.draw();
            });
        </script>
        <script>
            anychart.onDocumentReady(function() {
                // create line chart
                var chart = anychart.line();

                // turn on chart animation
                chart.animation(true);

                // set chart padding
                chart.padding([10, 20, 5, 20]);

                // turn on the crosshair
                chart.crosshair()
                    .enabled(true)
                    .yLabel(false)
                    .yStroke(null);

                // set chart title text settings
                chart.title('Trend of Sales of the Most Popular Products of ACME Corp.');

                // set yAxis title
                chart.yAxis().title('Number of Bottles Sold (thousands)');
                chart.xAxis().labels().padding(5);

                // create first series with mapped data
                var series = chart.line( '{{chartData}}', {ignoreFirstRow:true});
                series.name('Tequila');
                series.color('orange');
                series.hovered().markers()
                    .enabled(true)
                    .type('circle')
                    .size(4);

                series.tooltip()
                    .position('right')
                    .anchor('left-center')
                    .offsetX(5)
                    .offsetY(5);

                // turn the legend on
                chart.legend()
                    .enabled(true)
                    .fontSize(13)
                    .padding([0, 0, 10, 0]);

                chart.background().fill("rgb(255,255,204)");
                // set container id for the chart
                chart.container('second');
                // initiate chart drawing
                chart.draw();
            });
        </script>

    </body>
</html>


