{% block body %}
<div id="header">
    <center> <h2> Shopping Cart </h2> </center>
</div>
<div id="container">
    <center> <h1> Buy a Product </h1> </center>
    </br> </br>
    <center> <h3> Please give registered Email address and product id. </h3> </center>
    <center>
        {{ form_start(form) }}
        <br/> {{ form_widget(form) }}
        </br><button type="submit">Register!</button>
        {{ form_end(form) }}
    </center>
</div>
{% endblock %}

