{% extends "base.html.twig" %}
{% block body %}
<div id="header">
    <center> <h2> Welcome to Ctrl+Z </h2> </center>
</div>
<div id="transparent">
</div>
<div id="opaque">
    {{ form_start(form) }}
    <center> <img src="{{ asset('build/images/register_pic.jpg') }}"
        alt="Registration" width=100% height=110%> </center>
    </br> </br><center> New User? </center>
    <center> {{ form_widget(form.Register) }} </center>
</div>
<div id="opaque">
    <center> <img src="{{ asset('build/images/login_pic.png') }}" alt="Login"
        width=67% height=62%> </center>
    </br> <center> Already have an account? </center>
    <center> {{ form_widget(form.Login) }} </center>
    {{ form_end(form) }}
</div>
{% endblock %} 
