{% extends "base.html.twig" %}
{% block header %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ asset('build/add-collection-widget.js') }}"></script>
{% endblock %}
{% block title %}
 Mangage Device
{% endblock %}
{% block body %}
    <div id="header">
	<center> <h2> MANAGE DEVICE </h2> </center>
    </div>
    	<div id="opaque">
	   <center>
		{{ form_start(form) }}
		<h3> Product Spec </h3>
 		</br> Device name:<br/>
		{{ form_widget(form.name) }}
		<br/>Manufacturer:<br/>
		{{ form_widget(form.manufacturer) }}
		<br/>Model:<br/>
		{{ form_widget(form.model) }}
		<br/>Device Class:<br/>
    		{{ form_widget(form.type) }}
		<br/>
	   </center>
  	</div>
    	<div id="opaque">
	   <center>
		<h3> Pricing </h3>
		<br/>Device Price:<br/>
    		{{ form_widget(form.initialPrice) }}
		<br/><br/>Purchase Date and Time:<br/>
    		{{ form_widget(form.purchaseDate) }}
		<br/>
	   </center>
  	</div>
    	<div id="opaque">
	   <center>
		<h3> Monitoring </h3>
 		<br/>IoT Id: <br/>
		{# store the prototype on the data-prototype attribute #}
    		<ul id="iot-fields-list"
        		data-prototype="{{ form_widget(form.iot.vars.prototype)|e }}"
        		data-widget-tags="{{ '<li></li>'|e }}">
			{% set counter= 0 %}
			{% for iotField in form.iot %}
    			<li>
				{{ form_errors(iotField) }}
            			{{ form_widget(iotField) }}
				{% set counter= counter+1 %}
    			</li>
			{% endfor %}
		</ul>
		<button type="button" 
        		class="hoverButton add-another-collection-widget"
        		data-list="#iot-fields-list"><span>+  Attach IoT</span></button>
		<br/>
	   </center>
  	</div>

	<div id="foot"> 
		<center> <button type="submit" class="greenButtonWithShadow blockButton">Register!</button> </center>
	</div>
     	<div id="flash">
		{{ form_end(form) }}
		{% for message in app.flashes('error') %}
    			<div class="flash-notice">
        		<center> <font color="red"> {{ message }} </font> </center>
    			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
    			<div class="flash-notice">
        		<center> <h2> <font color="green"> {{ message }} </font> </h2> </center>
    			</div>
		{% endfor %}
	</div>
{% endblock %} 
