{% extends "base.html.twig" %}
{% block title %}
Mangage Device
{% endblock %}
{% block body %}
{{ form_start(form) }}
<div id="header">
    <center> <h2> MANAGE DEVICE </h2> </center>
</div>
<div id="opaque">
    <center>
        <h3> Product Spec </h3>
        </br> Device Name:<br/>
        {{ form_widget(form.name) }}
        <br/>Manufacturer:<br/>
        {{ form_widget(form.manufacturer) }}
        <br/>Model:<br/>
        {{ form_widget(form.model) }}
        </br> Serial Number:<br/>
        {{ form_widget(form.serialNumber) }}
        <br/>Device Class:<br/>
        {{ form_widget(form.type) }}
        <br/>
    </center>
</div>
<div id="opaque">
    <center>
        <h3> Detialed Info </h3>
        <br/> Color:<br/>
        {{ form_widget(form.color) }}
        <br/> Weight (in kg):<br/>
        {{ form_widget(form.weight) }}
        <br/> Dimension (in cm):<br/>
        {{ form_widget(form.height, { 'attr': {'style': 'width: 50px'}}) }} x
        {{ form_widget(form.width, { 'attr': {'style': 'width: 50px'}}) }} x
        {{ form_widget(form.thickness, { 'attr': {'style': 'width: 50px'}}) }}
        <br/>Remark:<br/>
        {{ form_widget(form.productRemarks, { 'attr': {'style': 'width: 280px;
        height:70px;'}}) }}
        <br/>
    </center>
</div>
<div id="opaque">
    <center>
        <h3> Pricing </h3>
        <br/>Device Price:<br/>
        {{ form_widget(form.initialPrice) }}
        <br/><br/>Purchase Date and Time:<br/><br/>
        {{ form_widget(form.purchaseDate) }}
        <br/><br/>
    </center>
</div>
<div id="opaque" style="margin-top: 20px">
    <center>
        <h3> Monitoring </h3>
        <br/>Connected IoT: <br/>
        {# store the prototype on the data-prototype attribute #}
        <div id="iot-fields-list"
             data-prototype="{{ form_widget(form.iot.vars.prototype)|e }}"
             data-widget-tags="{{ '<div></div>'|e }}">
        </div>
        <button type="button" class="hoverButton
            add-another-collection-widget" data-list="#iot-fields-list"><span>+  Attach IoT</span></button>
    </center>
</div>
<div id="opaque_2" style="margin-top: 20px">
    <center>
        <h3> Monitoring Metric Configuration </h3>
        <br/>Lifetime (in years): <br/>
        {{ form_widget(form.lifeTime) }}
        <br/>Metrics: <br/>
        {# store the prototype on the data-prototype attribute #}
        <div id="metric-fields-list"
             numWidgets=6
             data-prototype_1="{{ form_widget(form.metrics.vars.prototype,
             {'value':'Metric', 'attr': {'style':'width:80px'}})|e }}"
             data-prototype_2="{{
             form_widget(form.metricDefinition.vars.prototype, {'value':'Definition', 'attr': {'style':'width:300px'}})|e}}"
             data-prototype_3="{{
             form_widget(form.metricMin.vars.prototype, {'value':'Min', 'attr': {'style':'width:40px'}})|e}}"
             data-prototype_4="{{
             form_widget(form.metricMax.vars.prototype, {'value':'Max', 'attr': {'style':'width:40px'}})|e}}"
             data-prototype_5="{{
             form_widget(form.metricSeverity.vars.prototype, {'value':'Severity', 'attr': {'style':'width:80px'}})|e}}"
             data-prototype_6="{{
             form_widget(form.metricMessage.vars.prototype, {'value':'Message','attr': {'style':'width:200px'}})|e}}"
             data-widget-tags="{{ '<div></div>'|e }}">
        </div>
        <button type="button" class="hoverButton
            add-another-collection-widget_mult_obj"
            data-list="#metric-fields-list"><span>+  Attach Metric</span></button>
    </center>
</div>

<div id="foot" style="margin-left: 40px">
    <h3> Upload an Image: </h3>
    {{ form_widget(form.imageFile) }}
</div>

<div id="foot">
   <center> <button type="submit" class="greenButtonWithShadow blockButton">Register!</button> </center>
</div>
<div id="flash">
    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        <center> <font color="red"> {{ message }} </font> </center>
    </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
    <div class="flash-notice">
        <center> <h2> <font color="green"> {{ message }} </font> </h2> </center>
    </div>
    {% endfor %}
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false})  }}
{% endblock %}

{% block js %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

{{ parent() }}
<script src="{{ asset('build/add-collection-widget.js') }}"></script>
<script src="{{ asset('build/add-collection-widget_mult_obj.js') }}"></script>
{% endblock %}
