{% extends "base.html.twig" %}
{% block title %}
Mangage Device
{% endblock %}
{% block body %}
<div id="header">
    <center> <h2> MANAGE DEVICE </h2> </center>
</div>
<div id="opaque">
    <center>
        {{ form_start(form) }}
        <h3> Product Spec </h3>
        </br> Device name:<br/>
        {{ form_widget(form.name) }}
        <br/>Manufacturer:<br/>
        {{ form_widget(form.manufacturer) }}
        <br/>Model:<br/>
        {{ form_widget(form.model) }}
        <br/>Device Class:<br/>
        {{ form_widget(form.type) }}
        <br/>
    </center>
</div>
<div id="opaque">
    <center>
        <h3> Pricing </h3>
        <br/>Device Price:<br/>
        {{ form_widget(form.initialPrice) }}
        <br/><br/>Purchase Date and Time:<br/>
        {{ form_widget(form.purchaseDate) }}
        <br/>
    </center>
</div>

<div id="opaque">
    <center>
        <h3> Monitoring </h3>
        <br/>IoT Id: <br/>
        {# store the prototype on the data-prototype attribute #}
        <div id="iot-fields-list"
             data-prototype="{{ form_widget(form.iot.vars.prototype)|e }}"
             data-widget-tags="{{ '<div></div>'|e }}">
        </div>
        <button type="button" 
                class="hoverButton add-another-collection-widget"
                data-list="#iot-fields-list"><span>+  Attach IoT</span></button>
        <br/>
    </center>
</div>
<div id="foot"> 
    <center> <button type="submit" class="greenButtonWithShadow blockButton">Register!</button> </center>
</div>
<div id="flash">
    {{ form_end(form) }}
    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        <center> <font color="red"> {{ message }} </font> </center>
    </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
    <div class="flash-notice">
        <center> <h2> <font color="green"> {{ message }} </font> </h2> </center>
    </div>
    {% endfor %}
</div>
{% endblock %} 

{% block js %}
{{ parent() }}
<script>
    // Keep count of how many elements have been added
    jQuery(document).ready(function () {
        jQuery('.add-another-collection-widget').click(function (e) {
            e.preventDefault();
            var list = jQuery(jQuery(this).attr('data-list'));
            // Try to find the counter of the list
            var counter = list.data('widget-counter') | list.children().length;
            // If the counter does not exist, use the length of the list
            if (!counter) { counter = list.children().length; }
            // grab the prototype template
            var newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be used if deleting widgets is allowed
            list.data('widget-counter', counter);
            // create a new list element and add it to the list
            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            newElem.appendTo(list);
            alert(list.html());
        });

    });
</script>
<script>
    $( "form" ).submit(function (e) {
        alert("I am here");
    }
    );
</script>

{% endblock %}
