{% extends "base.html.twig" %}
{% block body %}
<div id="header">
    <center> <h2> REGISTER </h2> </center>
</div>
<div id="transparent">  </div>
<div id="opaque">
    </br></br>
    {{ form_start(form) }}
    <center> 
        User Name:<br/>
        {{ form_widget(form.username) }}
        <br/>Email Id:<br/>
        {{ form_widget(form.email) }}
        <br/>Password:<br/>
        {{ form_widget(form.plainPassword.first) }}
        <br/>Repeat Password:<br/>
        {{ form_widget(form.plainPassword.second) }}
        <br/><br/>
        <button type="submit">Register!</button>
    </center>
    {{ form_end(form) }}
</div>
<div id="flash">
    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        <center> <font color="red"> {{ message }} </font> </center>
    </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
    <div class="flash-notice">
        <center> <h2> <font color="green"> {{ message }} </font> </h2> </center>
    </div>
    {% endfor %}
</div>
{% endblock %} 
