{% extends "base.html.twig" %}
{% block body %}
{{ form_start(form) }}
<div id="header">
    <center> <h2> Registered Devices </h2> </center>
</div>
{% for device in devices %}
<div id="opaque">
    <center> <img src={{ asset('images/products/'~device.imageName) }}
                  alt="Registration" width=200px height=200px> </center>
    {% set device_name = device.name %}
    </br> </br><center> {{ device_name }} </center> </br>
    <center> {{ form_widget(attribute(form,device_name), {'label' : 'Monitor Me'}) }} </center>
</div>
{% endfor %}
{{ form_start(form) }}
{% endblock %}
