{% block body %}
<div id="header">
    <center> <h2> Registration Success </h2> </center>
</div>
<div id="container">
    <center> <h1> Welcome to Ctrl+Z Device Monitoring. </h1> </center>
    </br> </br>
    <center> <h3> You can use your username and password to login. </h3> </center>
    {{ form_start(form) }}
    <br/> <center> {{ form_widget(form) }} </center>
    {{ form_end(form) }}
</div>
{% endblock %}

